@import 'gibson';

@mixin GibsonLightItalic {
  font-family: 'GibsonLightItalic', Hevetica, Arial, sans-serif;
}

@mixin GibsonRegular {
  font-family: 'GibsonLightItalic', Hevetica, Arial, sans-serif;
}

$orange: #F05A24;

body {
  background: url('subtle_freckles.png');
}

h3 {
  color: $orange;
}

#main {
  h1.tagline {
    @include GibsonLightItalic; 
  }
}
