@font-face {
    font-family: 'GibsonLight';
    src: url('../fonts/Gibson-Light-webfont.eot');
    src: url('../fonts/Gibson-Light-webfont.eot?iefix') format('eot'),
         url('../fonts/Gibson-Light-webfont.woff') format('woff'),
         url('../fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Light-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'GibsonLightItalic';
    src: url('Gibson-LightItalic-webfont.eot');
    src: url('Gibson-LightItalic-webfont.eot?iefix') format('eot'),
         url('Gibson-LightItalic-webfont.woff') format('woff'),
         url('Gibson-LightItalic-webfont.ttf') format('truetype'),
         url('Gibson-LightItalic-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'GibsonRegular';
    src: url('../fonts/Gibson-Regular-webfont.eot');
    src: url('../fonts/Gibson-Regular-webfont.eot?iefix') format('eot'),
         url('../fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('../fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Regular-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'GibsonItalic';
    src: url('../fonts/Gibson-Italic-webfont.eot');
    src: url('../fonts/Gibson-Italic-webfont.eot?iefix') format('eot'),
         url('../fonts/Gibson-Italic-webfont.woff') format('woff'),
         url('../fonts/Gibson-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Italic-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'GibsonSemiboldItalic';
    src: url('../fonts/Gibson-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Gibson-SemiBoldItalic-webfont.eot?iefix') format('eot'),
         url('../fonts/Gibson-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Gibson-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-SemiBoldItalic-webfont.svg#webfonttpkv3jGJ') format('svg');
    font-weight: normal;
    font-style: normal;

}
